<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Employee</title>
</head>
<body>
    <h3 align="center">Add Employee</h3>
    <div align="center" >
                <form action="/create_employee", autocomplete="off", method="POST">
            <table>
                <tr>
                    <td>
                        <label>First name</label>
                    </td>

                    <td>
                        <input name="first_name", type="text", placeholder="Enter your first name", required>
                    </td>
                </tr>

                <tr>
                    <td>
                        <label>Middle name</label>
                    </td>

                    <td>
                        <input name="middle_name", type="text", placeholder="Enter your middle name",required>
                    </td>


                </tr>

                <tr>
                    <td>
                        <label>Last name</label>
                    </td>

                    <td>
                        <input name="last_name", type="text", placeholder="Enter your last name",required>
                    </td>



                </tr>

                <tr>
                        <td>
                            <label> Age</label>
                        </td>

                        <td>
                            <input type="text", name="age", placeholder="Enter your age",required>
                        </td>


                </tr>


                <tr>
                        <td>
                            <label> position</label>
                        </td>

                        <td>
                            <input type="text", name="position", placeholder="position",required>
                        </td>


                </tr>

                <tr>
                    <td>
                        <lable> phone</lable>
                    </td>

                    <td>
                        <input type="text", name="phone", placeholder="Enter your mobile number", required>
                    </td>
                </tr>

                <tr>
                    <td>
                        <lable>city</lable>
                    </td>

                    <td>
                        <input type="text", name="city", placeholder="Enter your city", required>
                    </td>
                </tr>

                <tr>
                    <td>
                        <lable> state</lable>
                    </td>

                    <td>
                        <input type="text", name="state", placeholder="Enter your state", required>
                    </td>
                </tr>



                <tr>
                    <td>
                        <button type="submit", onclick="alert('successfully submitted')">Submit</button>
                    </td>

                </tr>
            </table>


        </form>

    </div>
</body>
</html>